@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  overflow-y: hidden;
}

@theme {
  --color-black: #181818;
  --color-dark-gray: #444447;
  --color-gray: #f5f5f5;
  --color-red: #fb2c36;
  --color-light-gray: #6a7282;
}

@utility transition-all {
  @apply transition duration-500 ease-in-out;
}

@layer utilities {
  .add-to-cart {
    @apply bg-black text-white rounded-3xl px-4 py-2 font-bold text-[15px] cursor-pointer;
    @apply hover:opacity-85 transition-all;
    @apply active:bg-white active:text-black;
  }

  .button {
    @apply bg-black text-white rounded-2xl lg:rounded-3xl px-4 text-[12px] lg:px-7 py-2 font-bold lg:text-[15px] cursor-pointer;
    @apply hover:opacity-85 transition-all;
    @apply active:bg-white active:text-black;
  }

  .menu-mobile {
    @apply fixed bottom-0 bg-gray h-[75px] w-full flex-between text-[12px] md:hidden font-[500];
  }

  .menu-mobile-hover {
    @apply hover:bg-white p-4 py-6 rounded-t-2xl hover:invert w-[100px] transition-all;
    @apply active:bg-white active:text-black active:opacity-10;
  }

  .menu-mobile-active {
    @apply bg-white p-4 py-6 invert;
  }

  .nav-text {
    @apply border-y-1 py-4 font-[500] text-black border-gray-400 w-1/2;
  }

  .nav-text-hover {
    @apply hover:border-y-1 py-4 hover:font-[500] transition-all border-gray-400 hover:text-black w-1/2;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-col-center {
  @apply flex items-center justify-center flex-col;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility flex-col-between {
  @apply flex items-center justify-between flex-col;
}

@utility flex-around {
  @apply flex items-center justify-around;
}
